* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Young Serif", monospace;
    overflow: hidden;
    user-select: none;
}

#Background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1.5px black solid;
    background-color: #088617cc;
    padding: 25px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#History, #Land, #Rules, #sources, #politics, #Home {
    transition: all 0.4s;
    padding: 14px;
    color: black;
    font-size: 16px;
    width: 100%;
}

#History:hover, #sources:hover, #Rules:hover, #Land:hover, #politics:hover, #Home:hover {
    border: 1px lightgray solid;
    background-color: #D5526C;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 18px;
    color: white;
    font-style: italic;
}

#Heimilds {
    display: flex;
    margin-top: 10px;
    flex-direction:  column;
    border: 2px black solid;
    padding: 10px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#Heimilds a {
    color: blue;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 2s;
}

#Heimilds a:hover {
    color: red;
    border-radius: 10px;
    font-size: 24px;
    font-style: italic;
    transition: all 2s;
    padding: 20px;
    background-color: black;
}

#Heimilds a em {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    transition: all 2s;
}

#Heimilds a em:hover {
    color: lightblue;
    transition: all 2s;
}