* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Young Serif", monospace;
    user-select: none;
}

body {
    text-align: justify;
}


h2 {
    text-align: center;
    color: #D5526C;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1.5px black solid;
    background-color: #088617cc;
    padding: 25px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#History, #Land, #Rules, #sources, #politics, #Home {
    transition: all 0.4s;
    padding: 14px;
    color: black;
    font-size: 16px;
    width: 100%;
}

#History:hover, #sources:hover, #Rules:hover, #Land:hover, #politics:hover, #Home:hover {
    border: 1px lightgray solid;
    background-color: #D5526C;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 18px;
    color: white;
    font-style: italic;
}

.General {
    background-color: #F1C40F;
    border: 3px black solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.Europe {
    margin-top: 10px;
    background-color: #5499C7;
    border: 3px black solid;
    border-radius: 20px;
    padding: 20px;
}

.Africa {
    margin-top: 10px;
    background-color: #D89C53;
    border: 3px black solid;
    border-radius: 20px;
    padding: 20px;
}

.Asia {
    margin-top: 10px;
    background-color: #7DCEA0;
    border: 3px black solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.Hate {
    margin-top: 10px;
    background-color: #FBEEE6;
    border: 3px black solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.Hate p {
    font-size: 25px;
}

.Hate h2 {
    font-size: 50px;
}

li {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

#List {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 15px;
}