* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Young Serif", monospace;
    user-select: none;
}

body {
    background-repeat: no-repeat;
    background-image: url("../Images/background_video_none.jpg");
    background-size: cover;
    color: black;
}

#Background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1.5px black solid;
    background-color: #088617cc;
    padding: 25px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#History, #Land, #Rules, #sources, #politics, #Home {
    transition: all 0.4s;
    padding: 14px;
    color: black;
    font-size: 16px;
    width: 100%;
}

#History:hover, #sources:hover, #Rules:hover, #Land:hover, #politics:hover, #Home:hover {
    border: 1px lightgray solid;
    background-color: #D5526C;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 18px;
    color: white;
    font-style: italic;
}

#CustomOl {
    list-style-type: none;
    counter-reset: elementCounter;
    padding-left: 30px;
}

#CustomOl>li:before {
    content: "Regla " counter(elementCounter) ": ";
    counter-increment: elementCounter;
    font-style: italic;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#Ramadan, #Eid-ul-Adha, #Eid-ul-Fitr, #Al-Hijra, #Mawlid-an-Nabi {
    margin-bottom: 10px;
    border: 1px black solid;
    text-align: center;
    font-size: 24px;
    background-color: #D5526C;
}

#Ramadan h2, #Eid-ul-Adha h2, #Eid-ul-Fitr h2, #Al-Hijra h2, #Mawlid-an-Nabi h2 {
    font-size: 30px;
    color: blue;
}

.IslamRules {
    margin: 10px auto 15px;
}

.IslamRules h1 {
    text-align: center;
}

.Holidays {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
    border-spacing: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.Bottom {
    border: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #3F3F3F;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100vw;
}

.Bottom a {
    color: white;
    text-decoration: none;
}

.Bottom a:hover {
    text-decoration: underline black;
    font-style: italic;
    transition: all 1s;
}